%h1 Голубиная почта
%p
  Здесь Вы можете оставить свой адрес и птица прилетит к Вам в течении недели.
  В связи с неразвитой сетью голубиной почты, перелёты пока, что осуществляются в пределах Бирюлева.
  Если Вы хотети передать денежные средства в виде золотых,серебряных слитков просьба воспользоваться другим способ оплаты.
  Средняя грузоподъемность одного голубя составляет 150гр.
  Тек же убидительно просим Вас не кормить животных, не трогать за клюв и не есть.

=render 'orders/form'