%h1 Pasha
.pay_description
  Для посетителей сайта, которые проживают в Москве теперь функционирует отдельный сервис Pasha.
  Если Вы оставите заявку на нашем сайте Паша приедет в течении часа и заберёт Ваш взнос.
  Павел принимает купюры достоинством 500,1000 и 5000 рублей. Номера купюр не должны быть последовательны.
  Просьба не разговаривать с нашим курьером, не смотреть ему в глаза и не прикасаться к усам.
  Администрация сайта настоятельно рекомендует девушкам не писать номера телефонов на банкнотах.
  .warning
    WARNING
    Если у Вас в подъезде проживает огромный удав воспользуйтесь, пожалуйста, другой услугой.

=render 'orders/form'
