%h1 Для регионов
.pay_description
  Если Вы по каким либо причинам проживаете не в столице, Вы можете внести свой взнос приехав в столицу.
  Это можно осуществить разными способами:
  %lu
    %li Купив билет на паровоз;
    %li купив автомобиль(самоходное транспортное средство, в основном использующее двигатель внутреннего сгорания);
    %li сделать крылья из воска и прилететь(строго не рекомендуется лететь чрезмерно высоко);
    %li пробить брешь в нефтепроводе и добраться по трубе до Москвы(!!!есть возможность выйти за границы российской федерации!!!).
  Приехав в Москву скорее всего наши агенты сами Вас найдут и заберут Ваш взнос.