%h1 Клиент-урна-получатель
.pay_description
  Вы можете передать деньги администрации сайта с помощью принципиально нового способа CUR(Client-Urn-Recipient).
  В России данный сервис не имеет большой популярности, однако на западе достаточно давно практикуется.
  Главное достоинство CUR это его простота:
  %ol
    %li Клиент(т.е Вы) подходите к заранее обозначеной получателем урне;
    %li клиент ложит деньги в урну;
    %li клиент уходит.
  В данный момент в Москве функционирует урны около станций метро Чертаново, Алтуфьево, Царицыно, Аннино и Марьино.
  Просьба остерегаться урн помеченых красным крестом так как они прокляты.
