
%p
  Здравствуйте, Вы зашли на сайт,который был создан с целью заработать один миллиард евро.
  Создатели сайта информируют Вас о том,что деньги будут потрачены на личные нужды создателей сайта(скорее всего на разврат и пьянство).
  Средства полученные с помощью данного веб-ресурса не будут пожертвованы ни в одну благотворительную организацию,
  так же ни коем образом не повлияют на развитие сайта.
  В данный момент предоставляется несколько вариантов способствовать проекту достичь его цели, с ними можно ознакомиться в нижней панели сайта.

-@posts.each do |item|

  .title
    Тема:
    =item.title
  .author
    Автор:
    =item.user.username
  .description
    =item.description

=render 'posts/form'


